<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS Dependencies -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/shards.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>


<!-- Navigation -->
<body style="height: 100vh; width: 100vw">
  <div class="row h-100 w-100 m-0">
    <div class="col h-100" style="background-color: #031b4d; -ms-flex: 0 0 200px; flex: 0 0 200px;">
        <img src="images/demo/shards-logo-black.svg" alt="Example Navbar 1" class="mr-2" height="30">
        <a class="navbar-brand text-light" href="/">SwiftPager</a>
    </div>
    <div class="col w-100 p-0">

      <nav class="container-fluid navbar navbar-expand-lg navbar-light bg-light" 
          style="background:none !important; box-shadow: 0 2px 1px -1px rgba(0,0,0,0.1); max-height: 65px">
       
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown-7" aria-controls="navbarNavDropdown-7"
              aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="w-100 d-flex justify-content-end">
            <div class="dropdown show">
              <a class="dropdown-toggle" style="text-decoration: none" href="https://example.com" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="images/app/user-icon.png" style="height: 41px; width: 41px;"/>
              </a>
            
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="right: 0; left: auto;">
                <a class="dropdown-item" href="#">Account</a>
                <a class="dropdown-item" href="#">Logout</a>
              </div>
            </div>
          </div>

          
          
     


      </nav>

  </div>
</div>



    <!-- Optional JavaScript -->
    <!-- JavaScript Dependencies: jQuery, Popper.js, Bootstrap JS, Shards JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="js/shards.min.js"></script>
  </body>
</html>